*{
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7em;
    height: 80vh;
}

/* cabecalho */

header{
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(220, 14%, 75%, 0.2);
    padding: 25px;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li a{
     margin:  0 15px;
     text-decoration: none;
     font-size: 14px;
     color:    hsl(219, 9%, 45%);

}

header .logo{
    width: 10rem;
    height: 22px;
    margin-right: 5em;
}


header .logo-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .perfil{
    width: 50px;
    height: 50px;
}

.icones {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones .carrinho{
    margin-right: 28px;
}

.icones #cart-count{
    text-align: center;
    display: none;
    position: absolute;
    top: 18%;
    right: 17%;
    font-size: 12px;
    padding: 5px;
    border-radius: 50%;
    color: white;
    background-color:rgb(255, 102, 0);
}

.compras{
    display: none;
    padding: 20px;
    width: 300px;
    position: absolute;
    top: 92%;
    right: 5%;
    background-color: white;
    box-shadow: 10px 10px 5px 5px #0000003b;
    border-radius: 20px;
}
.compras hr{
    margin: 18px 0;
}
.compras img{
    height: 80px;
    border-radius: 20px;
}

.compras h1{
    font-size: 16px;
}
.sobre-compra{
    display: grid;
    grid-template-columns: repeat(2, 100px 190px);
    margin-bottom: 20px;
}
.sobre-none{
    display: none;
}

.block{
    display: block;
}
.compras button{
    background-color: rgba(255, 68, 0, 0.788);
    width: 70%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 35px;
    color: white;
    cursor: pointer;
}
.negrito{
    font-weight: 900;
}
.total p:first-of-type{
    margin-bottom: 10px;
    color: gray;
  }
/* principal: main */
main{
    padding: 20px;
}


 main .imagem-principal img{
    width: 25em;
    height: 22em;
    border-radius: 10px;
}

main{
    display: flex;
    
}

.imagens{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.imagens img:hover{
    /* border: 3px solid orangered; */
    cursor: pointer;
}


.imagens-pequenas{
   display: flex;
   gap: 0.4rem;
   flex-direction: row;
}
 

.imagens-pequenas img{
    width: 6em;
    height: 6em;
    margin-top: 15px;
    border-radius: 10px;
}

.imagens-pequenas img:hover{
    background-color: hsl(220, 14%, 75%);
}

.descricao{
    width: 25rem;
    /* width: 400px; */
    padding: 3rem;
    margin-left: 2rem;
}

.etiqueta{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    color: orangered;
    font-weight: 700;
}

.descricao h1 {
    font-size: 2.2rem;
    margin: 20px 0;
}

.descricao .texto{
    color:hsl(219, 9%, 45%);
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5rem;
}

.preco-porcentagem{
    display: flex;
    align-items: center;
}

.preco-atual{
    font-weight: bold;
    margin-right: 18px;
    font-size: 25px;
}

.porcentagem{
    background-color: rgba(241, 182, 174, 0.3);
    border-radius: 5px;
    padding: 6px;
    font-weight: bold;
    color: orangered;
}

.preco-velho{
    font-weight: bold;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin: 18px 0;
}

.botoes{
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.adicionar button{
    background-color:  hsl(222, 33%, 94%);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    margin: 0 4px;
    color: orangered;
    cursor: pointer;
}

.btn{
    margin-left: 2rem;
    background-color: rgb(238, 93, 40);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    width: 60%;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(241, 153, 121);
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(255, 102, 0);
}

@media(max-width: 425px){
    body{
       align-items: initial;
       justify-content: initial;
       width: 100%;
    }
    main{
        flex-direction: column;
    }
    header{
        justify-content: space-between;
        padding: 20px 0;
    }
    header nav{
        display: none;
    }
    .descricao {
        margin-top: 30px;
        padding: 0;
        margin-left: 0;
    }
    .descricao h1{
        font-size: 1.5rem;
    }
    .descricao .texto{
        font-size: 14px;
        line-height: 1rem;
    }
    .botoes{
        flex-direction: column;
    }
    .precos{
        display: flex;
    }
    .preco-porcentagem,
    .preco-velho{
        margin-left: 2rem;
    }
    .imagens{
        padding: 0;
    }
    .botoes{
        align-items: initial;
        margin-top: 2rem;
    }
    .adicionar {
        margin-left: 8rem;
        margin-bottom: 20px;
    }
    .adicionar button{
    font-size: 25px;
    }
    .btn{
        margin-bottom: 20px;
        width: 70%;
    }
}